{% extends "templates/base.html" %}

{% block content %}
<div class="page-header">
    <h1><i class="fa fa-cogs"></i> 配置列表</h1>
    <a href="/edit" class="btn btn-primary"><i class="fa fa-plus"></i> 添加配置</a>
</div>

<div class="search-box">
    <input type="text" id="keyword" placeholder="搜索名称或URL...">
    <select id="method-filter">
        <option value="">所有方法</option>
        <option value="GET">GET</option>
        <option value="POST">POST</option>
    </select>
    <button id="search-btn" class="btn"><i class="fa fa-search"></i> 搜索</button>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID <i class="fa fa-sort"></i></th>
                <th>名称 <i class="fa fa-sort"></i></th>
                <th>URL</th>
                <th>方法</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="config-table">
            <!-- 动态加载数据 -->
        </tbody>
    </table>
</div>

<div class="pagination">
    <button id="prev-page" disabled><i class="fa fa-chevron-left"></i></button>
    <span id="page-info">第1页</span>
    <button id="next-page"><i class="fa fa-chevron-right"></i></button>
</div>

<script>
$(document).ready(function() {
    loadConfigs(1);
    
    // 分页按钮事件
    $("#prev-page").click(() => loadConfigs(currentPage - 1));
    $("#next-page").click(() => loadConfigs(currentPage + 1));
    
    // 搜索按钮事件
    $("#search-btn").click(() => loadConfigs(1));
});
</script>
{% endblock %}